@use "@material/theme"with ($primary: #ffffff, $on-primary: #0c520f);
@use "@material/button/styles";

* {
  box-sizing: border-box;
  user-select: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

html,
body {
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header,
.footer,
.header__aside {
  display: flex;
  align-items: center;
}

.header,
.footer {
  justify-content: space-between;
  height: 75px;
  background-color: #000000f6;
  color: #ffffff;
  padding: 0 50px;
}

main {
  display: flex;
  flex-grow: 1;
}

h1 {
  margin: 0;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

.header button {
  font-size: 1.5rem;
}

.header__search {
  height: 30px;
}

.header__nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;

  & li {
    margin-left: 10px;
  }
}

.header__favorites {
  width: 4rem;
  height: 4rem;
  margin: 0 20px;
  border: solid 1px #ffffff;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 4rem;
}

.start-page {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../assets/bg.jpg');
  background-size: 800%;
  padding: 0 50px;
  width: 100%;
  color: #ffffff;
  font-size: 3rem;

  & button {
    margin-top: 40px;
    font-size: 1.8rem;
  }
}

.start-page__button {
  width: 150px;
  height: 50px;
}

.header__start-button {
  width: 100px;
  height: 40px;
  background-image: url(../assets/svg/tree.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}