* {
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

.header,
.footer,
.header__aside {
  display: flex;
}

.header,
.footer {
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: black;
  color: white;
}

.header,
.footer {
  padding: 0 50px;
}


.header__favorites {
  width: 4rem;
  height: 4rem;
  margin: 0 20px;
  border: solid 1px white;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 4rem;
}