* {
  box-sizing: border-box;
}
button{
  border: none;
  outline: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  background-color: black;
  color: white;
}

.header,
.footer {
  padding: 0 50px;
}