.products {
  background-image: url('../../assets/bg.jpg');
  background-size: 800%;
  padding: 0 50px;
  width: 100%;
}

.products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  gap: 30px;
  margin: 0 auto;
  min-height: 80vh;
}