.decorations {
  display: flex;
  background-image: url('../../assets/bg.jpg');
  background-size: 800%;
  padding: 0 50px;
  min-height: 100vh;
  justify-content: space-between;
  width: 100%;
}

.decorations__drag-area {
  background: center center/cover no-repeat;
  margin: 50px 20px 0;
  max-height: 715px;
}

.decorations__config {
  flex-basis: 15%;
}

.decorations__toys-container {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-basis: 15%;
  background: rgba($color: #c2c0c091, $alpha: .3);
}

.decorations__toys-container,
.decorations__config {
  margin: 50px 0;
}

.decorations__toy {
  width: 60px;
  height: 90px;
  cursor: pointer;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.decorations__toy-image {
  width: 60px;
}

.decorations__toy-amount {
  margin-top: 10px;
  text-align: center;
  color: white;
  border: 1px solid silver;
  border-radius: 50%;
  width: 40%;
  align-self: flex-end;
}

.snowflake {
  background: center center/contain url(../../assets/svg/snowflake.svg);
  position: absolute;
  top: -20px;
  z-index: 99;
  animation: fall linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}

.lightrope {
  position: absolute;
  display: flex;
  list-style: none;

  & li {
    margin-left: 22px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }

  & li:nth-child(even) {
    margin-top: 5px;
  }
}

.lightrope-1 {
  top: 54%;
  left: 43%;
}

.lightrope-2 {
  top: 62%;
  left: 42%;
}

.lightrope-3 {
  top: 76%;
  left: 41%;
}

.yellow {
  animation: yellowColor infinite 2s;

  &:nth-child(even) {
    animation: yellowColor infinite 2s;
  }
}

.red {
  animation: redColor infinite 2s;

  &:nth-child(even) {
    animation: redColor infinite 2s;
  }
}

.green {
  animation: greenColor infinite 2s;

  &:nth-child(even) {
    animation: greenColor infinite 2s;
  }
}

.blue {
  animation: blueColor infinite 2s;

  &:nth-child(even) {
    animation: blueColor infinite 2s;
  }
}

.rainbow {
  &:nth-child(even) {
    animation: redColor infinite 3s;
  }

  &:nth-child(odd) {
    animation: yellowColor infinite 1s;
  }
}


@keyframes yellowColor {

  100% {
    background-color: #ffff00;
  }

  75% {
    background-color: rgba($color: #ffff00, $alpha: .8);
  }

  50% {
    background-color: rgba($color: #ffff00, $alpha: .3);
  }
}

@keyframes redColor {
  100% {
    background-color: #ff0000;
  }

  50% {
    background-color: rgba($color: #ff0000, $alpha: .8);
  }

  25% {
    background-color: rgba($color: #ff0000, $alpha: .3);
  }
}

@keyframes greenColor {
  100% {
    background-color: #008000;
  }

  50% {
    background-color: rgba($color: #008000, $alpha: .8);
  }

  25% {
    background-color: rgba($color: #008000, $alpha: .3);
  }
}

@keyframes blueColor {
  100% {
    background-color: #0000ff;
  }

  50% {
    background-color: rgba($color: #0000ff, $alpha: .8);
  }

  25% {
    background-color: rgba($color: #0000ff, $alpha: .3);
  }
}